@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #090b1a;
  color: white;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 15px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #1b1938;
  border-radius: 0.5rem;
  max-width: 65.25rem;
}

.img-wrapper {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 50%;
  position: relative;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 1;
}

.img-wrapper::before {
  content: '';
  position: absolute;
  background-color: #a046d8;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  margin-left: 3.5rem;
  margin-right: 3rem;
  font-family: "Inter";
  padding: 4rem 1rem;
  width: 50%;
}

.main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.main-text h1 {
  font-weight: 700;
  font-size: 2.25rem;
}

.main-text h1 span {
  color: #aa5cdb;
}

.main-text p {
  line-height: 1.75;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 4rem;
}

.features-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
  gap: 3rem;
  line-height: 1.5;
}

.features-div h2 {
  font-weight: 700;
}

.features-div p {
  font-family: "Lexend Deca";
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

/* footer */
.attribution {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.attribution a {
  color: #aa5cdb;
  font-weight: 700;
}

@media screen and (max-width: 414px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 80vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .img-wrapper {
    width: 100%;
  }
  .text {
    width: 100%;
    margin: 0 10px;
    padding: 1rem 0.5rem;
    gap: 0;
  }
  .main-text {
    margin: 1rem 0.5rem 0.5rem;
    gap: 0;
  }
  .main-text h1 {
    font-size: 26px;
  }
  .main-text p {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .features-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
    gap: 1rem;
  }
}
